#left {
  left:-8.33%;
  text-align: left;
  float: left;
  width:30%;
  z-index:-10;
}

#right {
  left:31.25%;
  top: 75px;
  float: right;
  text-align: right;
  z-index:-10;
  width:70%;
}

.ctable {
  font-size: 26px !important;
}

code {
  color: #ffffff;
  font-size: 1.5rem !important;
  background-color: #1b1b1b;
  border-radius: 5px;
  padding: 5px !important;
}

img {
  border: none !important;
}